
<div class="slidebar">
    <div class="logo_side">
        <img src="assets/img/logo.png" alt="">
    </div>
    <ul class="ul_set">
        <li><a  class="active"><i class="uil uil-create-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a ><i class="uil uil-clipboard-notes"></i> <span>Reports</span></a></li>
        <li><a ><i class="uil uil-users-alt"></i> <span>New Employee</span></a></li>
        <li><a ><i class="uil uil-file-graph"></i> <span>Graphical Reports</span></a></li>
        <li><a ><i class="uil uil-desktop"></i> <span>Device Mapping</span></a></li>
        <li><a ><i class="uil uil-bell"></i> <span>Alarms</span></a></li>
        <li><a ><i class="uil uil-bell"></i> <span>Notification</span></a></li>
        <li><a ><i class="uil uil-monitor"></i> <span>DG Monitoring</span></a></li>
        <li><a ><i class="uil uil-monitor"></i> <span>UPS Monitoring</span></a></li>
        <li><a ><i class="uil uil-server"></i> <span>Server Room Monitoring</span></a></li>
        <li><a ><i class="uil uil-file-shield-alt"></i> <span>Production Monitoring</span></a></li>
        <li><a ><i class="uil uil-desktop-cloud-alt"></i> <span>Factory ERP</span></a></li>
        <li><a ><i class="uil uil-user-plus"></i> <span>Employee Achievement</span></a></li>
        <li><a ><i class="uil uil-bill"></i> <span>Accounts and Billing</span></a></li>
        <li><a ><i class="uil uil-user"></i> <span>Users</span></a></li>
        <!-- <li class="log_out" (click)="logout()"><a ><i class="uil uil-signout"></i> <span>Logout</span></a></li> -->
    </ul>
</div>
