  .fa-sign-out:before {
    content: '\ec83';
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
  box-sizing: border-box;
}
li {
  cursor: pointer;
}
